* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}


section{
    padding: 60px;
}

                                                /* TITLE HEADINGS */
.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
    margin: 0 auto 35px auto;
    padding-bottom: 20px;
    text-align: center;
    width: 50%;
}
  
                                                /* UTILITY CLASSES */

.primary-border {
    border-color: #fce138;
}
  
.secondary-border {    
    border-color: #39a6b2;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

                                                /* HEADER SECTION */

/* LOGO */
header{
    background-color: #39a6b2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
    /* Taken from .hero  */
    background-image: url("../../images/hero-bg.jpeg");
    background-size: cover;
    background-position: center;
    /* Makes header and hero match */
    background-attachment: fixed;
    background-position: 80%;
}

header h1 a{
    font-weight: bold;
    font-size: 36px;
    color: #fce138; /*in lesson 1.2.7. This doesn't work because it the <a> won't accept it*/
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

/* NAVIGATION BAR */
header a {
    color: #fce138;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}


header nav ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 10px 15px;
}

header nav ul li a:hover {
    background: #fce138;
    border-radius: 15px;
    color: #024e76;
    text-shadow: none;
}


                                            /*   HERO SECTION */

/* Hero image */
.hero{
    align-items: flex-start;
    background-image: url(../../images/hero-bg.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Makes header and hero match */
    background-attachment: fixed;
    background-position: 80%;
}

.hero-cta {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    margin: 3.5%;
    text-align: right;
    width: 35%;
}

.hero-cta h2 {
    color: #fce138;
    font-size: 55px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
    
/* Container of the form */
.hero-form{
    color: #024e76;
    background-color: rgba(252, 225, 56, 0.8); /* a = alpha = transparency where 0.8 = 80%, equivlanet is opacity */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    margin: 3.5%;
    width: 40%;

}

/* Title at the top of the form */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

/* Paragraph right under the title */
.hero-form p {
    margin: 5px 0 15px 0;
}

/* Three inputs boxes */
.form-input {
    background-color: rgba(225, 225, 225, .75);
    border: 1px solid #024e76;
    border-radius: 15px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.form-input:focus {
    background-color: rgba(225, 225, 225, 1);
    /* Gets rid of blue border when you focus on inputs */
    outline: none;
}

/* Labels of the three input boxes */
.hero-form label {
    margin: 0 5px;
}

/* Input button */
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-form button:hover {
      background-color: #39a6b2;
  }


                                            /* "WHAT WE DO" SECTION */


.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}



                                            /* "WHAT YOU DO" SECTION */

.steps {
  background: #fce138;
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
.step h3 {
    color: #024e76;
    flex: 1 30%;
    font-size: 46px;
}

.step-info {
    align-items: center;
    display: flex;
    flex: 2 70%;
    flex-wrap: wrap;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-img img {
    max-width: 100%;
}

.step-text {
    flex: 12;
}

.step-text p {
    color: #39a6b2;
    font-size: 18px;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
  }

  .step:not(:last-child) {
      /* Adds a bottom border to every step except the last one */
      border-bottom: 1px solid #39a6b2;
  }

                                            /* YOUR TRAINERS SECTION */

/* Entire trainers section */


/* Article Section */
.trainers {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.trainer{
    flex:  1;
    margin: 20px;
    background: #024e76;
    color: #fce138;
}

.trainer img {
    width: 100%;
}

.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}


.trainer-bio h3 {
    font-size: 28px;
}
  
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
  
.trainer-bio p {
    font-size: 17px;
}




                                            /* REACH OUT SECTION */
.contact {
    background: #024e76;
}


.contact h2 {
    color: #fce138;
}

/* Iframe */
.contact-info iframe {
    height: 400px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info div {
    color: white;
}

  .contact-info h3 {
    color: #fce138;
    font-size: 32px;
}
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
  
  .contact-info a {
    color: #fce138;
}

.contact-form input, .contact-form textarea {
    background-color: rgba(225, 225, 225, .75);
    border: 1px solid #024e76;
    color: #024e76;
    display: block;
    font-style: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 7px 15px;
    width: 100%;
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(225, 225, 225, 1);
    outline: none;
}

.contact-form button {
    background: #fce138;
    border: none;
    border-radius: 15px;
    color: #024e76;
    font-style: 16px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.contact-form button:hover {
    background: #39a6b2;
    color: #fce138;
}

                                            /* FOOTER SECTION */


footer {
    background: #fce138;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 35px;
    width: 100%;
    

}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}



                                            /* MEDIA QUERIES */


  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    /* TITLE HEADINGS */
    .section-title {
        width: 80%;
    }

    /* HEADER SECTION */

    /* Logo */
    header {
        justify-content: center;
        padding-bottom: 0;
        /* This undoes the sticky header effect */
        position: relative;  

    }

    header h1 {
        text-align: center;
        width: 100%;
    }
    /* Nav Bar */
    header nav ul {
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }

    /* HERO SECTION */
    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }


    /* FOOTER SECTION */
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    /* WHAT YOU DO SECTION */
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        justify-content: center;
        text-align: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* TITLE HEADINGS */
    .section-title {
        width: 95%;
    }

    /* HERO SECTION */
    .hero-form button {
        width: 100%;
    }

    /* WHAT WE DO SECTION */
    .intro p {
        width: 100%;
    }

    /* MEET YOUR TRAINERS SECTIONG */
    .trainer {
        flex: 0 100%;
    }

    /* REACH OUT SECTION */
    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
  
}
  